.card-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.card-wrapper:first-child {
  padding-top: 10px;
}

.card {
  cursor: move;
}

.card--active {
  background: #1ABC9C !important;
}

.card:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.16),0 4px 15px 0 rgba(0,0,0,.13);
}